<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->
		<link rel="stylesheet" href="/static/style.css">
		<% if (typeof scripts !== "undefined" && scripts instanceof Array) { 
			scripts.forEach(script => {
				%> <script src="/static/scripts/<%-script%>" defer></script> <%
			});
		} %>
	</head>
  <body>
    <% if (typeof hideNavbar === "undefined" || !hideNavbar) { %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container">
					<a class="navbar-brand" href="/">
						<img src="/static/logo.png" height="35" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<% if (typeof authenticated !== "undefined" && typeof user !== "undefined" && authenticated ) { %>
								<li class="nav-item">
									<a class="nav-link <% if (typeof page !== "undefined" && page === "reporting") { %> active <% } %> " href="/behaviour/reporting">Reporting</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/behaviour/summary">Summary</a>
								</li>
							<% } %>
						</ul>
						<% if (typeof authenticated !== "undefined" && typeof user !== "undefined" && authenticated ) { %>
							<small class="text-end" style="margin-right: 1rem;">Logged in as <br> <%= user.email %> </small>
							<a class="btn btn-primary" href="/auth/logout">Log Out</a>
						<% } else { %>
							<a class="btn btn-secondary" href="/auth/registration" style="margin-right: 1rem;">Register</a>
							<a class="btn btn-primary" href="/auth/login">Log In</a>
						<% } %>
					</div>
				</div>
      </nav>
		<% } %>
		<div class="container">
    