<%- include('../partials/header.ejs', {authenticated, user, page: "reporting", scripts: ["reporting.js"]}) %>
<% 
var date = new Date();
const dateToday = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) +
									'-' + date.getDate().toString().padStart(2, 0);
%>
<h1 class="mt-4 mb-3">Select the reporting option:</h1>
<div class="row">
	<div class="col-6">
		<div class="row justify-content-center align-items-center" style="height: 150px;">
			<div class="col-6">
				<button class="btn btn-lg btn-primary" style="width: 100%;" onclick="showMorningForm()">Morning</button>
				<% if (morningReported) { %>
					<p class="text-center"><small>Reported for today</small></p>
				<% } else { %>
					<p class="text-center"><small>Not yet reported</small></p>
				<% } %>
			</div>
		</div>
	</div>
	<div class="col-6">
		<div class="row justify-content-center align-items-center" style="height: 150px;">
			<div class="col-6">
				<button class="btn btn-lg btn-primary" style="width: 100%;" onclick="showEveningForm()">Evening</button>
				<% if (eveningReported) { %>
					<p class="text-center"><small>Reported for today</small></p>
				<% } else { %>
					<p class="text-center"><small>Not yet reported</small></p>
				<% } %>
			</div>
		</div>
	</div>
</div>
<div class="card">
  <div class="card-body">
		<%
		morningVisibile = false;
		eveningVisibile = false;
		if (reporting === "morning") {
		 morningVisibile = true;
		} else if (reporting === "evening") {
		 eveningVisibile = true;
		} %>
		<%- include('../partials/reporting-form-morning.ejs', {visible: morningVisibile, dateValue: dateToday}) %> 
		<%- include('../partials/reporting-form-evening.ejs', {visible: eveningVisibile, dateValue: dateToday}) %> 
  </div>
</div>
<%- include('../partials/footer.ejs') %>